* {margin: 0;}
html, body {height: 100%;}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* Set footer height. */
    overflow: scroll;
}
footer, .push {
    height: 100px; /* Set footer height. */
    /* clear: both; */ /* Muti-column fix.*/
}
footer {background: blue;}