<div id="wrap"><!-- This wrap div needs to encompass everything except the footer div at bottom -->
    <header>
        <div id="header-wrap"><!-- extra div to center fixed width header content -->
            header content here
        </div><!-- end #header-wrap -->
    </header>

    <div id="main" role="main">
        main content here
    </div><!-- end of #main -->
</div> <!--! end of #wrap -->
<footer>
    <div id="footer-wrap"><!-- extra div to center fixed width footer content -->
        footer content here
    </div><!-- end #footer-wrap -->
</footer>
